* {
    background-color: #FEFF86;
    margin: 1rem;
}

hr {
    border: none;
    border-top: 1px solid black;
    border-bottom: 5px solid black;
    height: 7px;
}

h1 > span {
    margin-left: 0;
    color: #FEFF86;
}

a > img {
    height: 2rem;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
}

.grid-container {
    display: grid;
    grid-template: .5fr .8fr 1fr .5fr 0.2fr / 1fr 2fr 2fr;
    font-family: 'Source Code Pro', monospace;
}

.profile-left {
    grid-row: span 5;
}

.hobbies {
    grid-column: span 2;
}

.footer {
    grid-column: span 2;
}

.profile-img {
    height: 17rem;
    border-radius: 50%;
    margin: 0;
    margin-bottom: 17px;
}

.sticky-container {
    position: sticky;
    top: 17px;
    align-self: center;
}

.flex-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.name-presentation {
    grid-column: span 2;
    font-family: 'Yeseva One', serif;
    font-size: 1.7rem;
    color: #181818;
    text-shadow: #EA047E 2px 0, #00F5FF -2px 0;
}

.grid-table-1 {
    display: grid;
    grid-template: repeat(9, 1fr) / 1fr auto;
    margin: 0;
}

.grid-table-2 {
    display: grid;
    grid-template: repeat(4, 1fr) / 1fr auto;
    margin: 0;
}

.grid-table-1 > p {
    margin-bottom: 17px;
    margin-top: 0;
}

.grid-table-2 > p {
    margin-bottom: 17px;
    margin-top: 0;
}

#thin-line {
    border: none;
    border-top: 1px solid black;
}

@media (max-width: 575px) {
    * {
        margin: 3px !important;
    }
    .profile-img {
        height: 15rem;
    }
}

@media (max-width: 767px) {
    * {
        margin: 7px;
    }
    .grid-container {
        grid-template: repeat(8, auto) / auto;
        font-size: .8rem;
    }
    .profile-left {
        grid-row: span 1;
        grid-column: span 1;
    }
    .flex-container {
        display: grid;
        grid-template: 1fr / repeat(2, 1fr);
        margin-left: 0;
        margin-right: 0;
    }
    .name-presentation {
        grid-column: span 1;
        font-size: 1.3rem;
    }    
    .hobbies {
        grid-column: span 1;
    }
    .footer {
        grid-column: span 1;
    }
    .sticky-container {
        position: inherit;
    }
    .profile-img {
        margin-top: 17px;
        margin-right: 17px;
    }
}

@media (min-width: 768px) and (max-width: 1200px) {
    .grid-container {
        grid-template: .75fr .5fr 1fr 1fr .5fr .25fr / 1fr 1fr;
    }
    .profile-left {
        grid-row: span 1;
        grid-column: span 2;
    }
    .flex-container {
        display: grid;
        grid-template: 1fr / repeat(2, 1fr);
        margin-left: 0;
        margin-right: 0;
    }
    .sticky-container {
        position: inherit;
    }
    .profile-img {
        margin-top: 17px;
    }
}
